.favorites-container-wrapper {
    background-color: #f0f0f0; 
    padding: 20px 0; 
}
  
.favorites-container {
    background-color: #ffffff;
    padding: 20px 40px;
    width: 750px;
    min-height: calc(100vh - 150px);
    margin: 0 auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
}

.favorites-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px; 
    color: #333; 
}

/* 상단 필터 메뉴 스타일 */
.filter-menu {
    display: flex;
    justify-content: center;
    margin: 0px 40px 10px 40px;
    position: relative;
    border-bottom: 1px solid #ddd; 
}

.filter-menu button {
    background-color: transparent;
    border: none;
    margin: 0 30px; 
    padding: 10px 0;
    font-size: 16px;
    font-weight: 500;
    color: #555; 
    cursor: pointer;
    position: relative;
}

.filter-menu button:hover {
    color: #007bff;
}

.filter-menu button.active {
    color: #007bff;
    font-weight: bold;
}

.filter-menu button.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #007bff;
    position: absolute;
    bottom: -1px;
    left: 0;
}

.filter-menu button:focus {
    outline: none;
}

/* 즐겨찾기 목록 스타일 */
.favorite-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 0px 60px;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer; 
    transition: background-color 0.3s ease;
    position: relative;
}

.favorite-item:hover {
    background-color: rgb(238, 245, 255); 
}

.favorite-item-container {
    padding: 0;
}

.favorite-store-main {
    display: flex;
    flex: 1;
}

.favorite-icon {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.favorite-store-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.favorite-store-name {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
    text-align: left;
}

.favorite-store-address {
    font-size: 14px;
    color: #777;
    text-align: left;
}

/* 세 점 아이콘 및 삭제 버튼 스타일 */
.favorite-store-actions {
    display: flex;
    align-items: center;
    position: relative;
}

.more-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.favorites-options-menu {
    position: absolute;
    left: 45px;
    bottom: 0px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    z-index: 1;
}

.delete-favorites-button {
    width: 55px;
    background-color: transparent;
    border: none;
    color: #f00;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
}

.delete-favorites-button:hover {
    background-color: #f8f8f8;
    border-radius: 5px;
}


  /* 모바일 크기에 맞는 레이아웃 */
@media (max-width: 500px) {
    .favorites-container-wrapper {
        background-color: #ffffff; 
        padding: 0; 
    }
      
    .favorites-container {
        background-color: #ffffff;
        padding: 10px 10px;
        width: 100%;
        margin: 0 auto;
        box-shadow: none;
        border-radius: none;
        box-sizing: border-box;
    }
    
    .favorites-title {
        text-align: center;
        font-size: 23px;
        font-weight: bold;
        margin-bottom: 20px; 
        color: #333; 
    }
    
    /* 상단 필터 메뉴 스타일 */
    .filter-menu {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin: 0px 0px;
        border-bottom: 1px solid #ddd; 
    }
    
    .filter-menu button {
        background-color: transparent;
        border: none;
        margin: 0 10px; 
        padding: 10px 0;
        font-size: 15px;
        font-weight: 500;
        color: #555; 
        cursor: pointer;
        position: relative;
    }
    
    .filter-menu button:hover {
        color: #007bff;
    }
    
    .filter-menu button.active {
        color: #007bff;
        font-weight: bold;
    }
    
    .filter-menu button.active::after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background-color: #007bff;
        position: absolute;
        bottom: -1px;
        left: 0;
    }
    
    .filter-menu button:focus {
        outline: none;
    }
    
    /* 즐겨찾기 목록 스타일 */
    .favorite-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 13px 2px;
        margin: 0px 10px;
        border-bottom: 1px solid #e0e0e0;
        cursor: pointer; 
        transition: background-color 0.3s ease; 
        position: relative; 
    }
    
    .favorite-item:hover {
        background-color: rgb(238, 245, 255); 
    }
    
    .favorite-item-container {
        padding: 0;
    }
    
    .favorite-store-main {
        display: flex;
        flex: 1;
    }
    
    .favorite-icon {
        width: 19px;
        height: 19px;
        margin-right: 15px;
        margin-top: 10px;
    }
    
    .favorite-store-info {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    
    .favorite-store-name {
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 5px;
        text-align: left;
    }
    
    .favorite-store-address {
        font-size: 12px;
        color: #777;
        text-align: left;
    }
    
    /* 세 점 아이콘 및 삭제 버튼 스타일 */
    .favorite-store-actions {
        display: flex;
        align-items: center;
        position: relative;
    }
    
    .more-icon {
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
    
    .favorites-options-menu {
        position: absolute;
        right: 25px;
        top: -3px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        z-index: 1;
    }
    
    .delete-favorites-button {
        width: 55px;
        background-color: transparent;
        border: none;
        color: #f00;
        padding: 5px 10px;
        cursor: pointer;
        text-align: center;
    }
    
    .delete-favorites-button:hover {
        background-color: #f8f8f8;
        border-radius: 5px;
    }
}