.star-rating {
  display: flex;
  align-items: center;
  /* margin-left: 5px; */
}

.grade-number {
  font-size: 0.8em;
  color: #f15b5b;
  margin-right: 5px;
}

.star {
  font-size: 0.9em;
  position: relative;
  color: #f15b5b;
}

.star.empty {
  color: #ddd;
}

.star.half::before {
  content: '★';
  color: #f15b5b;
  position: absolute;
  left: 0;
  width: 50%;
  overflow: hidden;
}

.star.half {
  color: #ddd;
}


/* 모바일 크기에 맞는 레이아웃 */
@media (max-width: 500px) {
  .grade-number {
    font-size: 0.65em;
    color: #f15b5b;
    margin-right: 5px;
  }
  
  .star {
    font-size: 0.7em;
    position: relative;
    color: #f15b5b;
  }
}